<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Producto</title>
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>

<body>
    <!--Header-->
    <%- include("../partials/header") %>
    <h2 class="tit">Edite su Producto</h2>
    <div class="crear">
        <form class="formulario" action="/productos/editar/<%= producto.id %> " method="POST"
            enctype="multipart/form-data">
            <div class="nombre producto">
                <h6>Nombre del Producto</h6>
                <input name="name" type="text">
                <h6>Marca del Producto</h6>
                <input name="brand" type="text">
                <h6>Imagen</h6>
                <input id="images" name="images" type="file">
            </div>
            <div class="precio descripcion">
                <h6>Precio del Producto</h6>
                <input name="price" class="prec" type="text">
                <input class="button" type="submit" value="Guardar">
                <h6 class="tit-d">Descripción</h6>
                <input name="description" class="descrip" type="text">
            </div>
        </form>
    </div>
</body>

</html>