<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle</title>
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="/js/front.js" defer></script>
</head>
<body>
    <!--Header-->
    <%- include("partials/header") %> 
    <!--/Header-->
    <section class="container2">
        <div class="cards2">
            <img src="/images/Moto-E20.png" alt="">
            <div class="cont">
                <h4 class="dato"><%= productos.name %></h4>
                <h4 class="dato1"><%= productos.price %></h4>
                <h4>Descripcion:</h4>
                <p class="desc"><%= productos.description %></p>
            </div>
        </div>  
        
    </section>
</body>
</html>